<md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
        <h3 class="md-headline">
            My Contacts
        </h3>
    </div>
</md-toolbar>
<md-list>

    <!-- add repeated items and on click handler (ng-repeat and ng-click) -->
    <md-list-item class="md-2-line">
        <img ng-src="{{ contact.avatar }}" class="md-avatar" alt="{{ contact.fullName.substring(0,1) }}" />
        <div class="md-list-item-text" layout="column">

            <!-- add fullname as first line, email as second line -->
            <h3></h3>
            <h4></h4>
        </div>
    </md-list-item>
</md-list>

<!-- only show the following if the contacts list isn't defined or if it is empty (ng-if) -->
<div class="contacts__empty">
    <i class="material-icons">face</i>
    There's no one here...
</div>