<div class="contact">
    <form name="contactDetailForm" novalidate>
        <div>
            <span class="contact__required">*</span> field is required
        </div>
        <div class="clearfix">
            <div class="contact__box">
                <h3 class="contact__sub-title">
                    Personal
                </h3>
                <div class="contact__field">
                    <label>
                        First Name <span class="contact__required">*</span>
                    </label>
                    <input type="text" name="firstName" required="required"
                           length-check
                           ng-change="$ctrl.updateContact();"
                           ng-model="$ctrl.contact.firstName"
                           ng-model-options="{ 'updateOn': 'default blur',
                            'debounce': { 'default': 250, 'blur': 0 }}" />
                </div>
                <div class="contact__field">
                    <label>
                        Middle Initial
                    </label>
                    <input type="text" name="mi"
                           length-check
                           ng-change="$ctrl.updateContact();"
                           ng-model="$ctrl.contact.mi"
                           ng-model-options="{ 'updateOn': 'default blur',
                            'debounce': { 'default': 250, 'blur': 0 }}" />
                </div>
                <div class="contact__field">
                    <label>
                        Last Name <span class="contact__required">*</span>
                    </label>
                    <input type="text" name="lastName" required="required"
                           length-check
                           ng-change="$ctrl.updateContact();"
                           ng-model="$ctrl.contact.lastName"
                           ng-model-options="{ 'updateOn': 'default blur',
                            'debounce': { 'default': 250, 'blur': 0 }}" />
                </div>
                <div class="contact__field">
                    <label>
                        Email
                        <span class="contact__error" ng-if="contactDetailForm.email.$error.email">
                            Must be a valid email
                        </span>
                    </label>
                    <input type="email" name="email"
                           length-check
                           ng-change="$ctrl.updateContact();"
                           ng-model="$ctrl.contact.email"
                           ng-model-options="{ 'updateOn': 'default blur',
                            'debounce': { 'default': 250, 'blur': 0 }}" />
                </div>
                <div class="contact__field">
                    <label>
                        Job title
                    </label>
                    <input type="text" name="jobTitle"
                           length-check
                           ng-change="$ctrl.updateContact();"
                           ng-model="$ctrl.contact.job"
                           ng-model-options="{ 'updateOn': 'default blur',
                            'debounce': { 'default': 250, 'blur': 0 }}" />
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.isNewContact">
            <button
                ng-disabled="contactDetailForm.$invalid"
                ng-click="$ctrl.saveContact();">
                Create contact
            </button>
        </div>
        <div ng-if="!$ctrl.isNewContact">
            <button class="delete"
                ng-click="$ctrl.deleteContact();">
                Delete contact
            </button>
        </div>
    </form>
</div>
